<form [formGroup]="PropForm">
    
    Nom : <input type="text" name="" id="" formControlName="nom" required><br>
    Prénom :<input type="text" name="" id="" formControlName="prenom" required><br>
    Cin : <input type="text" name="" id="" formControlName="cin" required><br>
    Adresse : <input type="text" name="" id="" formControlName="adresse" required><br>
    Email : <input type="email" name="" id="" formControlName="email" required>
    <br>
    <input type="button" value="Add" (click)="fnaddProp()">
    
</form>
