.center-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh; /* Ceci assure que le formulaire est centré verticalement sur la page */
}

.submit-button {
    margin-top: 10px; /* Ajoutez une marge en haut du bouton pour l'éloigner du formulaire */
}
